body {
  margin: 0px;
  background-color: #e9e9e9;
}
.background{
    z-index: -10;
}
.tomato-leaf{
    position: absolute;
width: 200.97px;
height: 110.73px;
left: -10px;
top: 150.7px;


transform: rotate(172deg);

}
.tomato1-vector {
  position: absolute;
  width: 89.5px;
  height: 96px;
  left: 1002px;
  top: 201.5px;
}
.tomato1 {
  position: absolute;
  width: 56px;
  height: 56px;
  left: 1012px;
  top: 215.5px;
}
.tomatoes-group {
  position: absolute;
  width: 350px;
  height: 400px;
  left: 863px;
  top: 515px;
}

.lower-tomato-vector-title-section {
  position: absolute;
  width: 108.5px;
  height: 115px;
  left: 741.5px;
  top: 981px;
}
.lower-tomato-title-section {
  position: absolute;
  width: 56px;
  height: 56px;
  left: 758px;
  top: 1027px;
}
.pizza-vector {
  position: absolute;
  width: 699px;
  height: 1153px;
  left: 1262px;
  top: 66px;
}
.pizza {
  position: absolute;
  width: 650px;
  height: 1050px;
  left: 1362px;
  top: 100px;
}
.info-vector {
  position: absolute;
  width: 751px;
  height: 309px;
  left: 0px;
  top: 720px;
}

.behind-carousel-vector {
  position: absolute;
  width: 474px;
  height: 505px;
  left: 540px;
  top: 1329px;
}
.behind-carousel-leaf {
  position: absolute;
  width: 936px;
  height: 1404px;

  left: 90px;
  top: 1250px;
}
.behind-carousel-tomato-vector {
  position: absolute;
  width: 102px;
  height: 108px;
  left: 1296px;
  top: 2157px;
}
.behind-carousel-tomato {
  position: absolute;
  width: 56px;
  height: 56px;
  left: 1310px;
  top: 2185px;
}
.behind-order-vector{
    position: absolute;
width: 182px;
height: 194px;
left: 786px;
top: 2378px;
}

.behind-order-leaf{
    position: absolute;
/* width: 657px;
height: 850px; */
width: 936px;
height: 1404px;
left: 200px;
top: 2400px;
transform: rotate(116deg);
}

.behind-gallery-vector{
    position: absolute;
width: 604px;
height: 643px;
left: 822px;
top: 3314px;
}
.lowest-leaf{
    position: absolute;
width: 675.8px;
height: 891.91px;
left: 245px;
top: 5026.83px;
transform: rotate(-18deg);
}